<nav class="navbar navbar-primary navbar-transparent navbar-absolute">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/#/dashboard">LBD PRO Angular 2</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a   href="/#/dashboard">
                        <i class="fa fa-trello" aria-hidden="true"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li>
                    <a href="register.html">
                        <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                        <p>Register</p>
                    </a>
                </li>
                <li>
                    <a href="lock.html">
                        <i class="fa fa-unlock-alt" aria-hidden="true"></i>
                        <p>Lock</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>



<div class="wrapper wrapper-full-page">
<div class="full-page login-page" data-color="none" data-image="../../../assets/img/full-screen-image-1.jpg">

<!--   you can change the color of the filter page using: data-color="blue | azure | green | orange | red | purple" -->
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
                    <form method="#" action="#">

                    <!--   if you want to have the card without animation please remove the ".card-hidden" class   -->
                        <div class="card card-hidden">
                            <div class="header text-center">Login</div>
                            <div class="content">
                                <div class="form-group">
                                    <label>Email address</label>
                                    <input type="email" placeholder="Enter email" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label>Password</label>
                                    <input type="password" placeholder="Password" class="form-control">
                                </div>
                                <div class="form-group">
                                    <div class="checkbox">
                                        <input id="checkbox25" type="checkbox" unchecked>
                                        <label for="checkbox25">
                                            Subscribe to newsletter
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="footer text-center">
                                <button type="submit" class="btn btn-fill btn-danger btn-wd">Login</button>
                            </div>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>

    <footer class="footer footer-transparent">
        <div class="container">
            <nav class="pull-left">
                <ul>
                    <li>
                        <a href="#">
                            Home
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Company
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Portfolio
                        </a>
                    </li>
                    <li>
                        <a href="#">
                           Blog
                        </a>
                    </li>
                </ul>
            </nav>
            <p class="copyright pull-right">
                &copy; <script>document.write(new Date().getFullYear())</script> <a href="http://www.creative-tim.com">Creative Tim</a>, made with love for a better web
            </p>
        </div>
    </footer>

</div>

</div>
